@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@font-face {
  font-family: "Hermes";
  src: url(Vampire\ Wars.ttf);
}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  --size: 15px;
  --color: black;
  font-family: "poppins", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: var(--color);
  background-image: url(Graphics/background.jpg);
  background-color: #abe5ff;
}

h5{
  font-weight: 700;
}

button{
  background: none;
  border: 0;
  padding: 7px;
  cursor: pointer;
  font-size: 23px;
}


.header{
  width: 100%;
}

footer {
  font-size: 0.8em;
  position: absolute;
  bottom: 93px;
  left: 50%;
  right: 50%;
  transform: translateX(-50%);
  width: 66%;
  font-weight: 600;
  color: #006036;
}

.navbar{
  height: 71px;
  width: 70%;
  margin: 0 auto;
  margin-top: 21px;
  padding-left: 25px;
  padding-right: 25px;
  border-radius: 52px;
  background-color: rgba(255, 255, 255) !important;
}

.navbar-brand{
  font-size: 19px;
  color: #0d7d4f;
  font-weight: 900;
  padding-top: 8px;
}

.navbar-brand img{
  width: 56px;
}

.nav-item{
  z-index: 99999;
}

.controls-wrap{
  display: grid;
  place-items: center;
  height: 100vh;
  width: 100vw;
  background: rgba(255,255,255,0.4);
  position: absolute;
  z-index: 9990;
  top: 50%;
  left: 50%;
  clip-path: circle(0% at 80.7% 8%);
  transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transform: translateX(-50%) translateY(-50%);
  backdrop-filter: blur(2px);
}

.controls-wrap.active { 
  clip-path: circle(155% at 90% 9%);
}

.controls{
  background: white;
    padding: 73px;
    border-radius: 25px;
    border: 7px solid;
}

.controls .control:last-child{
  margin: 0;
}

.control{
  display: flex;
  color: black;
  align-items: center;
  margin-bottom: 30px;
}

.control h6{
  margin: 0;
  margin-left: 20px;
}

.variables{
  position: absolute;
  top : 300px;
  right: -109px;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 90%;
  position: relative; 
  margin-top: 84px;
  padding-left: 9%;
  padding-right: 9%;
}

.apple{
animation: breath 1s linear infinite ;
animation-fill-mode: forwards;
animation-direction:reverse;
background-position: center;
}

.scores{
  width: 450px;
  display: flex;
  margin-bottom: 9px;
  padding: 12px;
  border-radius: 27px;
  height: 39px;
  position: absolute;
  z-index: 999;
  bottom: 0;
  justify-content: space-between;
}

.current-score{
  display: flex;
  align-items: center;
  font-size: 19px;
}

.current-score img{
  width: 31px;
}

.score{
  font-size: 20px;
  margin-left: 2px;
  font-weight: 700;
}

.h-score{
  font-size: 18px;
    font-weight: 700;
    margin-top: -6px;
}

.content {
  position: absolute;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
}

.grid {
  border: 9px solid white;
  border-radius: 4px;
  display: grid;
  grid-template-columns: repeat(15, auto);
  grid-template-rows: repeat(15, auto);
  /* border: var(--size) solid var(--color); */
}
.tile {
  position: relative;
  width: 30px;
  height: 30px;
}

.settings{
  background: white;
  height: 467.6px;
  width: 467.6px;
  padding: 18px;
  padding-top: 42px;
  border-radius: 9px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.sound{
  margin-top: 35px;
}

.sound-change{
  display: flex;
  margin-top: 27px;
}

.sound-change .sound-1{
  width: 90px;
}

.speed-slider{
  transform: rotate(180deg);
}

.slider-track-high{
  background: #b6e343;
}

.slider-selection{
  background: #008f5b;
}

.slider-handle{
  background: #006036;
}

.music{
  position: relative;
}

.line{
  position: absolute;
  top: 21.1px;
  width: 30px;
  background-color: #000;
  height: 3px;
  rotate: 45deg;
  left: 13px;

}

@keyframes position {
  0% {
    background-position-x: 0px;
  }
  100% {
    background-position-x: 35px;
  }
}

footer {
  margin-top: 20px;
  max-width: calc(var(--size) * 17);
  text-align: center;
}

footer a:visited {
  color: inherit;
}

footer img{
  margin-left: 6px;
  margin-right: 6px;
}


.heart {
  font-size: 1em;
  position: relative;
}

.heartbeat {
  position: relative;
  z-index: 1;
  /* animation: beat 2s linear infinite; */
}

.heartecho {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  /* animation: echo 2s linear infinite; */
}

@keyframes beat {
  0% {
    transform: scale(1);
  }
  14% {
    transform: scale(0.9);
  }
  21% {
    transform: scale(1.1) skew(0.004turn)
  }
  28% {
    transform: scale(1) skew(0.008turn);
  }
  35% {
    transform: scale(1) skew(0)
  }
}

@keyframes echo {
  0% {
    opacity: 0.5;
    transform: scale(0.8);
  }
  14% {
    opacity: 0.4;
    transform: scale(0.5);
  }
  21% {
    opacity: 0.4;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(1.8);
  }
}


@keyframes breath {
  0%{
    background-size: 30px;
  }

  50%{
    background-size: 36px;
  }

  100%{
    background-size: 30px;

  }
}

@media (max-width: 1200px) {
  .container, .container-lg, .container-md, .container-sm, .container-xl {
      max-width: 100%;
  }
}

@media (max-width: 1146px){
  .container{
    max-width: 1327px;
    padding-left: 3%;
    padding-right: 3%;
  }
} 

@media (max-width: 992px) {
  .container, .container-lg, .container-md, .container-sm {
    max-width: 1327px;
      padding-left: 3%;
      padding-right: 3%;
      flex-direction: column;
  }

  .settings{
    margin-top: 34px;
  }

  .navbar{
    height: 86px;
    width: 96%;
  }
}