@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "poppins";
  background-image: url(Graphics/background.jpg);
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

h5 {
  font-weight: 700;
}

button {
  background: none;
  border: 0;
  padding: 7px;
  cursor: pointer;
  font-size: 23px;
}

.navbar-brand {
  color: #0d7d4f;
  font-weight: 900;
}

.controls-wrap {
  place-items: center;
  background: rgba(255, 255, 255, 0.4);
  z-index: 999;
  top: 50%;
  left: 50%;
  clip-path: circle(0% at 80.7% 8%);
  transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transform: translateX(-50%) translateY(-50%);
  backdrop-filter: blur(2px);
}

.controls-wrap.active {
  clip-path: circle(155% at 90% 9%);
}

.controls {
  padding: 73px;
  border: 7px solid;
}

.container {
  margin-top: 84px;
  padding: 0 9%;
}

.scores {
  width: 450px;
  z-index: 99;
  bottom: 0;
}

.h-score {
  font-size: 18px;
  font-weight: 700;
  margin-top: -6px;
}

.grid {
  border: 9px solid white;
  border-radius: 4px;
  display: grid;
  grid-template-columns: repeat(15, auto);
  grid-template-rows: repeat(15, auto);
}

.tile {
  position: relative;
  width: 30px;
  height: 30px;
}

.settings {
  height: 467.6px;
  width: 467.6px;
  padding-top: 42px !important;
}

.sound-change .sound-1 {
  width: 90px;
}

.slider-track-high {
  background: #b6e343;
}
.slider-selection {
  background: #008f5b;
}
.slider-handle {
  background: #006036;
}

.line {
  top: 21.1px;
  width: 30px;
  background-color: #000;
  height: 3px;
  rotate: 45deg;
  left: 13px;
}

footer {
  bottom: 93px;
  left: 50%;
  right: 50%;
  transform: translateX(-50%);
  color: #006036;
}

.heartecho {
  top: 0;
}

.apple {
  animation: breath 1.4s linear infinite;
  animation-fill-mode: forwards;
  animation-direction: reverse;
  background-position: center;
}

@keyframes beat {
  0% {
    transform: scale(1);
  }
  14% {
    transform: scale(0.9);
  }
  21% {
    transform: scale(1.1) skew(0.004turn);
  }
  28% {
    transform: scale(1) skew(0.008turn);
  }
  35% {
    transform: scale(1) skew(0);
  }
}
@keyframes echo {
  0% {
    opacity: 0.5;
    transform: scale(0.8);
  }
  14% {
    opacity: 0.4;
    transform: scale(0.5);
  }
  21% {
    opacity: 0.4;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(1.8);
  }
}
@keyframes breath {
  0% {
    background-size: 30px;
  }
  50% {
    background-size: 36px;
  }
  100% {
    background-size: 30px;
  }
}
